In [29]:
import pandas as pd
import numpy as np

In [30]:
import warnings
warnings.filterwarnings("ignore")

In [31]:
dataframe=pd.read_csv("FF_Data.csv")
dataframe.drop(columns=["index","name_adjusted","street_address_adjusted"],inplace=True)
dataframe.head()

,placekey,name,street_address,City,Region,customer_zip,top_category,naics_code,latitude,longitude,Month_FF,Raw_vistors_Monthly_level,Week Start_FF,visits_weekly_level
0,22d-224@63r-6cr-dd9,pizza Barracks Row,405 8th St SE,Washington,DC,DC,&pizza,"Pizza,Counter Service,Lunch,Dinner",722511.000000,38.883491,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[1253.0, 1143.0, 1461.0, 1239.0, 667.0, 1115.0...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[213.15, 213.15, 213.15, 213.15, 91.35, 125.16..."
1,zzw-223@63r-6hs-47q,pizza Gaithersburg,258 Crown Park Ave,Gaithersburg,MD,20878,Restaurants and Other Eating Places,722511,39.114096,-77.204449,"[' 2018-02-01', ' 2018-03-01', ' 2018-04-01', ...","[236.0, 317.0, 383.0, 414.0, 445.0, 404.0, 397...","[' 2018-01-08', ' 2018-01-15', ' 2018-01-22', ...","[51.0, 82.0, 78.0, 73.0, 72.0, 61.0, 89.0, 83...."
2,228-222@63r-6nn-f4v,pizza Georgetown,1335 Wisconsin Ave NW,Washington,DC,DC,&pizza,"Pizza,Counter Service,Lunch,Dinner",722511.000000,38.907528,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[526.0, 676.0, 881.0, 719.0, 433.0, 685.0, 758...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[86.94, 86.94, 86.94, 86.94, 37.26, 72.0, 126...."
3,29g-229@5z5-3qs-cnq,10e,811 W 7th St,Los Angeles,CA,90017,Restaurants and Other Eating Places,722511,34.048976,-118.258973,"[' 2018-02-01', ' 2018-03-01', ' 2018-04-01', ...","[136.0, 164.0, 179.0, 201.0, 192.0, 166.0, 155...","[' 2018-01-08', ' 2018-01-15', ' 2018-01-22', ...","[34.0, 50.0, 42.0, 36.0, 43.0, 40.0, 34.0, 45...."
4,22q-222@5z6-3c4-435,3 Brothers Teriyaki,23722 Western Ave,Harbor City,CA,90710,Restaurants and Other Eating Places,722511,33.809869,-118.308218,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[78.0, 110.0, 121.0, 133.0, 127.0, 103.0, 129....","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[18.0, 20.0, 32.0, 24.0, 13.0, 22.0, 44.0, 29...."

## Fix NAICS Code & Customer Zip

In [32]:
#Naics_Code
for counter in range(0,len(dataframe["naics_code"])):
    naics_code=dataframe["naics_code"].iloc[counter]
    try:
        dataframe["naics_code"].iloc[counter]=int(naics_code)
    except:
        dataframe["naics_code"].iloc[counter]=np.nan
#Customer Zip
for counter in range(0,len(dataframe["customer_zip"])):
    naics_code=dataframe["customer_zip"].iloc[counter]
    try:
        dataframe["customer_zip"].iloc[counter]=int(naics_code)
    except:
        dataframe["customer_zip"].iloc[counter]=np.nan

## Fix Latitude

In [33]:
index_to_be_removed=list(dataframe.loc[dataframe["naics_code"].isna()].index)

In [34]:
dataframe.loc[index_to_be_removed,"naics_code"]=dataframe.loc[dataframe["naics_code"].isna() ,"latitude"]
dataframe.loc[index_to_be_removed ,"latitude"]=np.nan

In [35]:
dataframe["naics_code"]=dataframe["naics_code"].apply(lambda x:int(float(x)))

## Fix Placekey

In [36]:
for temp in dataframe[dataframe["placekey"].str.contains("]")].index:
    placekey=dataframe.loc[temp,"placekey"]
    placekey=placekey.strip('][').split(',')
    dataframe.loc[temp,"placekey"]=placekey[0][1:-1]

In [37]:
len(dataframe["placekey"].unique())

1255

In [38]:
dataframe.shape[0]

1255

## Decompress File

In [39]:
dataframe.head()

,placekey,name,street_address,City,Region,customer_zip,top_category,naics_code,latitude,longitude,Month_FF,Raw_vistors_Monthly_level,Week Start_FF,visits_weekly_level
0,22d-224@63r-6cr-dd9,pizza Barracks Row,405 8th St SE,Washington,DC,NaN,&pizza,722511,NaN,38.883491,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[1253.0, 1143.0, 1461.0, 1239.0, 667.0, 1115.0...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[213.15, 213.15, 213.15, 213.15, 91.35, 125.16..."
1,zzw-223@63r-6hs-47q,pizza Gaithersburg,258 Crown Park Ave,Gaithersburg,MD,20878,Restaurants and Other Eating Places,722511,39.114096,-77.204449,"[' 2018-02-01', ' 2018-03-01', ' 2018-04-01', ...","[236.0, 317.0, 383.0, 414.0, 445.0, 404.0, 397...","[' 2018-01-08', ' 2018-01-15', ' 2018-01-22', ...","[51.0, 82.0, 78.0, 73.0, 72.0, 61.0, 89.0, 83...."
2,228-222@63r-6nn-f4v,pizza Georgetown,1335 Wisconsin Ave NW,Washington,DC,NaN,&pizza,722511,NaN,38.907528,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[526.0, 676.0, 881.0, 719.0, 433.0, 685.0, 758...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[86.94, 86.94, 86.94, 86.94, 37.26, 72.0, 126...."
3,29g-229@5z5-3qs-cnq,10e,811 W 7th St,Los Angeles,CA,90017,Restaurants and Other Eating Places,722511,34.048976,-118.258973,"[' 2018-02-01', ' 2018-03-01', ' 2018-04-01', ...","[136.0, 164.0, 179.0, 201.0, 192.0, 166.0, 155...","[' 2018-01-08', ' 2018-01-15', ' 2018-01-22', ...","[34.0, 50.0, 42.0, 36.0, 43.0, 40.0, 34.0, 45...."
4,22q-222@5z6-3c4-435,3 Brothers Teriyaki,23722 Western Ave,Harbor City,CA,90710,Restaurants and Other Eating Places,722511,33.809869,-118.308218,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[78.0, 110.0, 121.0, 133.0, 127.0, 103.0, 129....","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[18.0, 20.0, 32.0, 24.0, 13.0, 22.0, 44.0, 29...."

In [40]:
dataframe.loc[:,'Month_FF']=dataframe['Month_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe.loc[:,'Month_FF']=dataframe['Month_FF'].apply(lambda x:[temp.strip() for temp in x])
#Raw Visitors Monthly Level
dataframe.loc[:,'Raw_vistors_Monthly_level']=dataframe['Raw_vistors_Monthly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe.loc[:,'Raw_vistors_Monthly_level']=dataframe['Raw_vistors_Monthly_level'].apply(lambda x:[float(temp) for temp in x])
#Week Start
dataframe.loc[:,'Week Start_FF']=dataframe['Week Start_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe.loc[:,'Week Start_FF']=dataframe['Week Start_FF'].apply(lambda x:[temp.strip() for temp in x])
#Visits Weekly Level
dataframe.loc[:,'visits_weekly_level']=dataframe['visits_weekly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe.loc[:,'visits_weekly_level']=dataframe['visits_weekly_level'].apply(lambda x:[float(temp) for temp in x])

In [41]:
dataframe_total_FF_1=dataframe[["placekey","Week Start_FF","visits_weekly_level"]]
dataframe_total_FF_1=dataframe_total_FF_1.explode(["Week Start_FF","visits_weekly_level"])
#Trim Week Start Date to get Month Date
dataframe_total_FF_1["Month_match"]=dataframe_total_FF_1["Week Start_FF"].apply(lambda x:x[0:7]+"-01")
#Set weekly visits to be integer 
dataframe_total_FF_1["visits_weekly_level"]=dataframe_total_FF_1["visits_weekly_level"].apply(lambda x:int(x))

In [42]:
dataframe_total_FF_2=dataframe[["placekey","Month_FF","Raw_vistors_Monthly_level"]]
dataframe_total_FF_2=dataframe_total_FF_2.explode(["Month_FF","Raw_vistors_Monthly_level"])

In [45]:
total=pd.merge(dataframe_total_FF_1,dataframe_total_FF_2,left_on=["placekey","Month_match"],right_on=["placekey","Month_FF"],how="outer")
total=total[["placekey","Month_match","Raw_vistors_Monthly_level","Week Start_FF","visits_weekly_level"]]
total.rename(columns={
    "Month_match":"Month_FF",
    "Raw_vistors_Monthly_level":"Raw_Visitors_Monthly_level",
    "visits_weekly_level":"Visits_Weekly_level"
},inplace=True)

In [48]:
total_2=dataframe[["placekey","name","street_address","City","Region","customer_zip","top_category","naics_code","latitude","longitude"]]

In [50]:
total=pd.merge(total,total_2,on=["placekey"])

In [52]:
total.to_csv("FF_Decompressed.csv",index=False)