In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

## Dataframe FF

In [3]:
dataframe_FF_Reference=pd.read_csv("1.FF_Referemce.csv")
dataframe_FF_Reference=dataframe_FF_Reference[["Month_FF","Raw_vistors_Monthly_level","Week Start_FF","visits_weekly_level","naics_code","top_category"]]
dataframe_FF_Reference.head()

,Month_FF,Raw_vistors_Monthly_level,Week Start_FF,visits_weekly_level,naics_code,top_category
0,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[1253.0, 1143.0, 1461.0, 1239.0, 667.0, 1115.0...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[213.15, 213.15, 213.15, 213.15, 91.35, 125.16...","Pizza,Counter Service,Lunch,Dinner",&pizza
1,"[' 2018-02-01', ' 2018-03-01', ' 2018-04-01', ...","[274.0, 284.0, 238.0, 206.0, 245.0, 212.0, 208...","[' 2018-01-08', ' 2018-01-15', ' 2018-01-22', ...","[93.0, 86.0, 90.0, 87.0, 79.0, 96.0, 82.0, 88....",722511,Restaurants and Other Eating Places
2,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[632.0, 616.0, 985.0, 1036.0, 794.0, 1081.0, 9...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[98.0, 98.0, 98.0, 98.0, 42.0, 65.72, 115.01, ...","Pizza,Counter Service,Lunch,Dinner",&pizza
3,"[' 2018-02-01', ' 2018-03-01', ' 2018-04-01', ...","[236.0, 317.0, 383.0, 414.0, 445.0, 404.0, 397...","[' 2018-01-08', ' 2018-01-15', ' 2018-01-22', ...","[51.0, 82.0, 78.0, 73.0, 72.0, 61.0, 89.0, 83....",722511,Restaurants and Other Eating Places
4,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[526.0, 676.0, 881.0, 719.0, 433.0, 685.0, 758...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[86.94, 86.94, 86.94, 86.94, 37.26, 72.0, 126....","Pizza,Counter Service,Lunch,Dinner",&pizza

In [4]:
dataframe_FF_Reference.loc[:,'Month_FF']=dataframe_FF_Reference['Month_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_FF_Reference.loc[:,'Month_FF']=dataframe_FF_Reference['Month_FF'].apply(lambda x:[temp.strip() for temp in x])
dataframe_FF_Reference.loc[:,'Month_FF']=dataframe_FF_Reference.loc[:,'Month_FF'].astype(str)
#Raw Visitors Monthly Level
dataframe_FF_Reference.loc[:,'Raw_vistors_Monthly_level']=dataframe_FF_Reference['Raw_vistors_Monthly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_FF_Reference.loc[:,'Raw_vistors_Monthly_level']=dataframe_FF_Reference['Raw_vistors_Monthly_level'].apply(lambda x:[float(temp) for temp in x])
dataframe_FF_Reference.loc[:,'Raw_vistors_Monthly_level']=dataframe_FF_Reference['Raw_vistors_Monthly_level'].astype(str)
#Week Start
dataframe_FF_Reference.loc[:,'Week Start_FF']=dataframe_FF_Reference['Week Start_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_FF_Reference.loc[:,'Week Start_FF']=dataframe_FF_Reference['Week Start_FF'].apply(lambda x:[temp.strip() for temp in x])
dataframe_FF_Reference.loc[:,'Week Start_FF']=dataframe_FF_Reference.astype(str)
#Visits Weekly Level
dataframe_FF_Reference.loc[:,'visits_weekly_level']=dataframe_FF_Reference['visits_weekly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_FF_Reference.loc[:,'visits_weekly_level']=dataframe_FF_Reference['visits_weekly_level'].apply(lambda x:[float(temp) for temp in x])
dataframe_FF_Reference.loc[:,'visits_weekly_level']=dataframe_FF_Reference['visits_weekly_level'].astype(str)

## Dataframe Meta and Reviews

In [5]:
dataframe_MR=pd.read_csv("Meta_and_Reviews_Reference_File.csv")
dataframe_MR.drop(columns=["name"],inplace=True)
dataframe_MR.head()

,gmap_id,address
0,0x88f16e41928ff687:0x883dad4fd048e8f8,"129 N Second St, Cochran, GA 31014"
1,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,"3001 E Pico Blvd, Los Angeles, CA 90023"
2,0x80c2c778e3b73d33:0xbdc58662a4a97d49,"761 S Vermont Ave, Los Angeles, CA 90005"
3,0x80c2c89923b27a41:0x32041559418d447,"2200 E 11th St, Los Angeles, CA 90021"
4,0x80c2c632f933b073:0xc31785961fe826a6,"719 E 9th St, Los Angeles, CA 90021"

## MR_FF

In [6]:
dataframe_total=pd.read_csv("MR_FF.csv")
#Drop Duplicates Keep First
dataframe_total=dataframe_total.drop_duplicates(keep="first")

In [7]:
dataframe_total.shape[0]

1932

In [8]:
len(dataframe_total["gmap_id"].unique())

1914

In [9]:
len(dataframe_total["placekey"].unique())

1911

In [10]:
#Check duplicated gmap_ids for empty street_address, naics_code and top_category
duplicated_gmap_ids=dataframe_total[dataframe_total["gmap_id"].duplicated()]["gmap_id"].unique()
for duplicate_id in list(duplicated_gmap_ids):
    temp=dataframe_total[dataframe_total["gmap_id"]==duplicate_id]
    empty_category=temp["top_category"].isna().sum()
    if(empty_category>0):
        #Get Null Parameters
        street_address=temp.loc[~temp["street_address"].isna(),"street_address"].values[0]
        naics_code=temp.loc[~temp["naics_code"].isna(),"naics_code"].values[0]
        top_category=temp.loc[~temp["top_category"].isna(),"top_category"].values[0]
        #Adjust Value for original dataframe
        dataframe_total.loc[list(temp.index),"top_category"]=top_category
        dataframe_total.loc[list(temp.index),"naics_code"]=naics_code
        dataframe_total.loc[list(temp.index),"street_address"]=street_address
dataframe_total=dataframe_total.drop_duplicates(keep="first")

In [11]:
dataframe_total.head(2)

,gmap_id,placekey,name,street_address,City,Region,customer_zip,latitude,longitude,Lead,...,Community,Month_FF,Raw_vistors_Monthly_level,Week Start_FF,visits_weekly_level,Date,Average Rating,Count of Reviews,top_category,naics_code
0,0x80c2c9f1d18f5c79:0x9b246513d5996d6b,zzy-224@5z6-3qz-pn5,Peru Mix,358 W 38th St,Los Angeles,CA,90037,34.014736,-118.278772,No Lead,...,No Community,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[0.0, 0.0, 0.0, 2.0, 4.0, 1.0, 1.0, 4.0, 1.0, ...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","['2020-11-02', '2020-12-21', '2021-02-01', '20...","[4.0, 1.0, 1.0, 1.0]","[1, 1, 1, 1]",Restaurants and Other Eating Places,722511
1,0x8640c1029859c707:0x4901d3637aea2f81,226-225@8fc-fj3-94v,Pastel Pizza,2829 Chimney Rock Rd,Houston,TX,77056,29.736330,-95.476169,No Lead,...,No Community,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[8.0, 12.0, 17.0, 11.0, 11.0, 19.0, 13.0, 16.0...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[1.0, 3.0, 2.0, 1.0, 1.0, 0.0, 4.0, 4.0, 6.0, ...","['2019-10-21', '2019-11-04', '2019-12-09', '20...","[4.0, 1.0, 3.0, 3.0, 5.0, 1.0, 5.0, 5.0, 3.0, ...","[1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, ...",Restaurants and Other Eating Places,722511

## Fix NAICS_Code and Top_Category

In [12]:
dataframe_total_part_a=dataframe_total[~dataframe_total["naics_code"].isna()]
dataframe_total_part_b=dataframe_total[dataframe_total["naics_code"].isna()]

In [13]:
dataframe_total_part_b.loc[:,'Month_FF']=dataframe_total_part_b['Month_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_part_b.loc[:,'Month_FF']=dataframe_total_part_b['Month_FF'].apply(lambda x:[temp.strip() for temp in x])
dataframe_total_part_b.loc[:,'Month_FF']=dataframe_total_part_b.loc[:,'Month_FF'].astype(str)
#Raw Visitors Monthly Level
dataframe_total_part_b.loc[:,'Raw_vistors_Monthly_level']=dataframe_total_part_b['Raw_vistors_Monthly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_part_b.loc[:,'Raw_vistors_Monthly_level']=dataframe_total_part_b['Raw_vistors_Monthly_level'].apply(lambda x:[float(temp) for temp in x])
dataframe_total_part_b.loc[:,'Raw_vistors_Monthly_level']=dataframe_total_part_b['Raw_vistors_Monthly_level'].astype(str)
#Week Start
dataframe_total_part_b.loc[:,'Week Start_FF']=dataframe_total_part_b['Week Start_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_part_b.loc[:,'Week Start_FF']=dataframe_total_part_b['Week Start_FF'].apply(lambda x:[temp.strip() for temp in x])
dataframe_total_part_b.loc[:,'Week Start_FF']=dataframe_total_part_b.astype(str)
#Visits Weekly Level
dataframe_total_part_b.loc[:,'visits_weekly_level']=dataframe_total_part_b['visits_weekly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_part_b.loc[:,'visits_weekly_level']=dataframe_total_part_b['visits_weekly_level'].apply(lambda x:[float(temp) for temp in x])
dataframe_total_part_b.loc[:,'visits_weekly_level']=dataframe_total_part_b['visits_weekly_level'].astype(str)

In [14]:
dataframe_total_part_b=pd.merge(dataframe_total_part_b,dataframe_FF_Reference,on=["Month_FF","Raw_vistors_Monthly_level","visits_weekly_level"])
dataframe_total_part_b.drop(columns=["naics_code_x","top_category_x","Week Start_FF_y"],inplace=True)
dataframe_total_part_b.rename(columns={
    "Week Start_FF_x":"Week Start_FF",
    "naics_code_y":"naics_code",
    "top_category_y":"top_category"
},inplace=True)

In [15]:
dataframe_total=pd.concat([dataframe_total_part_a,dataframe_total_part_b])

In [16]:
dataframe_total.head(2)

,gmap_id,placekey,name,street_address,City,Region,customer_zip,latitude,longitude,Lead,...,Community,Month_FF,Raw_vistors_Monthly_level,Week Start_FF,visits_weekly_level,Date,Average Rating,Count of Reviews,top_category,naics_code
0,0x80c2c9f1d18f5c79:0x9b246513d5996d6b,zzy-224@5z6-3qz-pn5,Peru Mix,358 W 38th St,Los Angeles,CA,90037,34.014736,-118.278772,No Lead,...,No Community,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[0.0, 0.0, 0.0, 2.0, 4.0, 1.0, 1.0, 4.0, 1.0, ...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","['2020-11-02', '2020-12-21', '2021-02-01', '20...","[4.0, 1.0, 1.0, 1.0]","[1, 1, 1, 1]",Restaurants and Other Eating Places,722511
1,0x8640c1029859c707:0x4901d3637aea2f81,226-225@8fc-fj3-94v,Pastel Pizza,2829 Chimney Rock Rd,Houston,TX,77056,29.736330,-95.476169,No Lead,...,No Community,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[8.0, 12.0, 17.0, 11.0, 11.0, 19.0, 13.0, 16.0...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[1.0, 3.0, 2.0, 1.0, 1.0, 0.0, 4.0, 4.0, 6.0, ...","['2019-10-21', '2019-11-04', '2019-12-09', '20...","[4.0, 1.0, 3.0, 3.0, 5.0, 1.0, 5.0, 5.0, 3.0, ...","[1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, ...",Restaurants and Other Eating Places,722511

## Fix Category and Single PlaceKey

In [17]:
#Category
#Handle Missing Category
dataframe_total.loc[dataframe_total[dataframe_total["category"].isna()].index,"category"]="['Restaurant']"
#Take a Single Category
dataframe_total.loc[:,'category']=dataframe_total['category'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["category"]=dataframe_total["category"].apply(lambda x:x[0])
#Placekey
dataframe_total.loc[:,'placekey']=dataframe_total['placekey'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["placekey"]=dataframe_total["placekey"].apply(lambda x:x[0])

In [18]:
dataframe_total.isna().sum()

gmap_id                        0
placekey                       0
name                           0
street_address               825
City                          29
Region                         0
customer_zip                   0
latitude                       0
longitude                      0
Lead                           0
category                       0
url                            0
Community                      0
Month_FF                       0
Raw_vistors_Monthly_level      0
Week Start_FF                  0
visits_weekly_level            0
Date                           0
Average Rating                 0
Count of Reviews               0
top_category                   0
naics_code                     0
dtype: int64

## Fix Street Address and City

In [19]:
dataframe_total=pd.merge(dataframe_total,dataframe_MR,on=["gmap_id"])

In [20]:
dataframe_address_match=pd.read_csv("Address_Match.csv")
dataframe_address_match.head()

                                 gmap_id                 address
0  0x80c2beb8823de30b:0xd06833e01720e227  8278 Santa Monica Blvd
1   0x880fd1bcfe703f31:0x25fde6abb7d1ccb         6349 N Clark St
2  0x89b7b59aa4470765:0x23b13670cd5d7e1f         933 N Quincy St
3   0x89b7cc8c8ea75f6f:0xe4f07cc8841fd55       7747 Tuckerman Ln
4  0x880e2cc4d7c9a243:0xdcd8c62fa7bed7a6       1501 W Madison St

In [21]:
for gmap_id in dataframe_total[dataframe_total["street_address"].isna()]["gmap_id"].values:
    dataframe_total.loc[dataframe_total["gmap_id"]==gmap_id,"street_address"]=dataframe_address_match[dataframe_address_match["gmap_id"]==gmap_id]["address"].values[0]

In [22]:
dataframe_total=pd.merge(dataframe_total,dataframe_MR,on=["gmap_id"])

In [23]:
dataframe_city_match=pd.read_csv("City_Match.csv")
dataframe_city_match.head()

                                 gmap_id      address
0  0x880fd323fe229675:0xd008391feaeeb0f0      Chicago
1  0x80c2c71bb9b85e9b:0xd6c828cd3a86de15  Los Angeles
2  0x880fcdeb58c98741:0xb0f396ed351123a2      Chicago
3  0x880fd2ee0894ec49:0x4194fc4edefdc4af      Chicago
4  0x8640cddfb148becd:0x11f10ececacb0290      Houston

In [24]:
for gmap_id in dataframe_total[dataframe_total["City"].isna()]["gmap_id"].values:
    dataframe_total.loc[dataframe_total["gmap_id"]==gmap_id,"City"]=dataframe_city_match[dataframe_city_match["gmap_id"]==gmap_id]["address"].values[0]

In [25]:
dataframe_total.drop(columns=["address_x","address_y"],inplace=True)

## Fix Place Key

In [26]:
duplicated_placekey_ids=dataframe_total[dataframe_total["placekey"].duplicated()]["placekey"].unique()
counter=1
for duplicate_id in list(duplicated_placekey_ids):
    if(counter==3):
        break
    #Indexes to be Removed
    index_to_be_remove=list(dataframe_total[dataframe_total["placekey"]==duplicate_id].index)
    #Temp Dataframe
    temp_dataframe=dataframe_total[dataframe_total["placekey"]==duplicate_id]
    #Set Single gmap_id for both
    temp_dataframe["gmap_id"]=str(temp_dataframe["gmap_id"].iloc[0])
    #Count of Reviews
    temp_dataframe["Count of Reviews"]=temp_dataframe["Count of Reviews"].apply(lambda x:x.strip('][').replace("'","").split(','))
    temp_dataframe["Count of Reviews"]=temp_dataframe["Count of Reviews"].apply(lambda x:[float(temp) for temp in x])
    #Average Ratings
    temp_dataframe["Average Rating"]=temp_dataframe["Average Rating"].apply(lambda x:x.strip('][').replace("'","").split(','))
    temp_dataframe["Average Rating"]=temp_dataframe["Average Rating"].apply(lambda x:[float(temp) for temp in x])
    #Date
    temp_dataframe["Date"]=temp_dataframe["Date"].apply(lambda x:x.strip('][').replace("'","").split(','))
    temp_dataframe["Date"]=temp_dataframe["Date"].apply(lambda x:[temp.strip() for temp in x])
    
    #PART 1
    part_1=temp_dataframe[["gmap_id","Date","Average Rating","Count of Reviews"]]
    part_1=part_1.explode(["Date","Average Rating","Count of Reviews"]).reset_index()
    part_1=part_1.groupby(["gmap_id","Date"]).aggregate({
        "Average Rating":"mean",
        "Count of Reviews":"sum"
    },inplace=True).reset_index()
    part_1=part_1.groupby(["gmap_id"]).aggregate({
        "Date":list,
        "Average Rating":list,
        "Count of Reviews":list
    },inplace=True).reset_index()
    
    #Part 2
    #Visits Weekly Level
    temp_dataframe["visits_weekly_level"]=temp_dataframe["visits_weekly_level"].apply(lambda x:x.strip('][').replace("'","").split(','))
    temp_dataframe["visits_weekly_level"]=temp_dataframe["visits_weekly_level"].apply(lambda x:[float(temp) for temp in x])
    #Week Start FF
    temp_dataframe["Week Start_FF"]=temp_dataframe["Week Start_FF"].apply(lambda x:x.strip('][').replace("'","").split(','))
    temp_dataframe["Week Start_FF"]=temp_dataframe["Week Start_FF"].apply(lambda x:[temp.strip() for temp in x])
    #Month FF
    temp_dataframe["Month_FF"]=temp_dataframe["Month_FF"].apply(lambda x:x.strip('][').replace("'","").split(','))
    temp_dataframe["Month_FF"]=temp_dataframe["Month_FF"].apply(lambda x:[temp.strip() for temp in x])
    #Month level
    temp_dataframe["Raw_vistors_Monthly_level"]=temp_dataframe["Raw_vistors_Monthly_level"].apply(lambda x:x.strip('][').replace("'","").split(','))
    temp_dataframe["Raw_vistors_Monthly_level"]=temp_dataframe["Raw_vistors_Monthly_level"].apply(lambda x:[float(temp) for temp in x])
    
    #Part 2
    part_2=temp_dataframe[["gmap_id","Week Start_FF","visits_weekly_level"]]
    part_2=part_2.explode(["Week Start_FF","visits_weekly_level"]).reset_index()
    part_2=part_2.groupby(["gmap_id","Week Start_FF"]).aggregate({
        "visits_weekly_level":"sum"
    },inplace=True).reset_index()
    part_2=part_2.groupby(["gmap_id"]).aggregate({
        "Week Start_FF":list,
        "visits_weekly_level":list
    },inplace=True).reset_index()
    
    #Part 3
    part_3=temp_dataframe[["gmap_id","Month_FF","Raw_vistors_Monthly_level"]]
    part_3=part_3.explode(["Month_FF","Raw_vistors_Monthly_level"]).reset_index()
    part_3=part_3.groupby(["gmap_id","Month_FF"]).aggregate({
        "Raw_vistors_Monthly_level":"sum"
    },inplace=True).reset_index()
    part_3=part_3.groupby(["gmap_id"]).aggregate({
        "Month_FF":list,
        "Raw_vistors_Monthly_level":list
    },inplace=True).reset_index()
    
    #Part 4
    part_4=temp_dataframe[[
        "gmap_id","placekey",
        "name","street_address","City","Region","customer_zip",
        "latitude","longitude",
        "Lead", 'category', 
        'url','Community',
        'top_category', 'naics_code']].iloc[0:1]
    
    #
    temp=pd.merge(part_1,part_2,on=["gmap_id"])
    temp=pd.merge(temp,part_3,on=["gmap_id"])
    temp=pd.merge(temp,part_4,on=["gmap_id"])
    
    #
    dataframe_total = dataframe_total.drop(index_to_be_remove)
    dataframe_total.append(temp)
    counter=counter+1

In [27]:
dataframe_total=dataframe_total.drop_duplicates(keep="first")
#dataframe_total=dataframe_total[dataframe_total["placekey"]!="zzw-223@8fc-9qb-wkz"]

In [28]:
dataframe_total.shape[0]

1910

In [29]:
len(dataframe_total["gmap_id"].unique())

1910

In [30]:
len(dataframe_total["placekey"].unique())

1909

## Fix Customer Zip

In [31]:
dataframe_total=dataframe_total[[
    "gmap_id","placekey",
    "name","street_address","City","Region","customer_zip","latitude","longitude",
    "category","url","Community",'top_category', 'naics_code',
    "Date","Count of Reviews","Average Rating",
    'Month_FF', 'Raw_vistors_Monthly_level', 'Week Start_FF','visits_weekly_level']].reset_index()
dataframe_total.drop(columns=["index"],inplace=True)

In [32]:
dataframe_total=pd.merge(dataframe_total,dataframe_MR,on=["gmap_id"])

In [33]:
for x in range(0,len(dataframe_total)):
    try:
        int(dataframe_total.loc[x,"customer_zip"])
    except:
        dataframe_total.loc[x,"customer_zip"]=dataframe_total.loc[x,"address"].split(" ")[-1]

In [34]:
dataframe_total.drop(columns=["address"],inplace=True)

## Dataframe Total

In [35]:
#Count of Reviews
dataframe_total["Count of Reviews"]=dataframe_total["Count of Reviews"].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["Count of Reviews"]=dataframe_total["Count of Reviews"].apply(lambda x:[float(temp) for temp in x])
dataframe_total["Count of Reviews"]=dataframe_total["Count of Reviews"].apply(lambda x:[round(temp,2) for temp in x])

#Average Ratings
dataframe_total["Average Rating"]=dataframe_total["Average Rating"].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["Average Rating"]=dataframe_total["Average Rating"].apply(lambda x:[float(temp) for temp in x])
dataframe_total["Average Rating"]=dataframe_total["Average Rating"].apply(lambda x:[round(temp,2) for temp in x])

#Date
dataframe_total["Date"]=dataframe_total["Date"].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["Date"]=dataframe_total["Date"].apply(lambda x:[temp.strip() for temp in x])
#Part 2
#Visits Weekly Level
dataframe_total["visits_weekly_level"]=dataframe_total["visits_weekly_level"].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["visits_weekly_level"]=dataframe_total["visits_weekly_level"].apply(lambda x:[float(temp) for temp in x])
dataframe_total["visits_weekly_level"]=dataframe_total["visits_weekly_level"].apply(lambda x:[round(temp,2) for temp in x])

#Week Start FF
dataframe_total["Week Start_FF"]=dataframe_total["Week Start_FF"].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["Week Start_FF"]=dataframe_total["Week Start_FF"].apply(lambda x:[temp.strip() for temp in x])

#Month FF
dataframe_total["Month_FF"]=dataframe_total["Month_FF"].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["Month_FF"]=dataframe_total["Month_FF"].apply(lambda x:[temp.strip() for temp in x])
#Month level
dataframe_total["Raw_vistors_Monthly_level"]=dataframe_total["Raw_vistors_Monthly_level"].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["Raw_vistors_Monthly_level"]=dataframe_total["Raw_vistors_Monthly_level"].apply(lambda x:[float(temp) for temp in x])
dataframe_total["Raw_vistors_Monthly_level"]=dataframe_total["Raw_vistors_Monthly_level"].apply(lambda x:[round(temp,2) for temp in x])

### a.Expand FF Raw Data

In [36]:
dataframe_total_FF=dataframe_total[["gmap_id",'Month_FF','Raw_vistors_Monthly_level', 'Week Start_FF', 'visits_weekly_level']]

### a.1 Weekly Level

In [37]:
dataframe_total_FF_1=dataframe_total_FF[["gmap_id","Week Start_FF","visits_weekly_level"]]
dataframe_total_FF_1=dataframe_total_FF_1.explode(["Week Start_FF","visits_weekly_level"])
#Trim Week Start Date to get Month Date
dataframe_total_FF_1["Month_match"]=dataframe_total_FF_1["Week Start_FF"].apply(lambda x:x[0:7]+"-01")
#Set weekly visits to be integer 
dataframe_total_FF_1["visits_weekly_level"]=dataframe_total_FF_1["visits_weekly_level"].apply(lambda x:int(x))
dataframe_total_FF_1.head(2)

,gmap_id,Week Start_FF,visits_weekly_level,Month_match
0,0x80c2c9f1d18f5c79:0x9b246513d5996d6b,2018-01-01,0,2018-01-01
0,0x80c2c9f1d18f5c79:0x9b246513d5996d6b,2018-01-08,0,2018-01-01

In [38]:
dataframe_total_FF_1.shape[0]

316790

### a.2 Monthly Level

In [39]:
dataframe_total_FF_2=dataframe_total_FF[["gmap_id","Month_FF","Raw_vistors_Monthly_level"]]
dataframe_total_FF_2=dataframe_total_FF_2.explode(["Month_FF","Raw_vistors_Monthly_level"])
dataframe_total_FF_2.head(2)

                                 gmap_id    Month_FF Raw_vistors_Monthly_level
0  0x80c2c9f1d18f5c79:0x9b246513d5996d6b  2018-01-01                       0.0
0  0x80c2c9f1d18f5c79:0x9b246513d5996d6b  2018-02-01                       0.0

### Merge FF_Raw_Data_Parts

In [40]:
total_1=pd.merge(dataframe_total_FF_1,dataframe_total_FF_2,left_on=["gmap_id","Month_match"],right_on=["gmap_id","Month_FF"],how="outer")
total_1=total_1[["gmap_id","Month_match","Raw_vistors_Monthly_level","Week Start_FF","visits_weekly_level"]]
total_1.rename(columns={
    "Month_match":"Month_FF",
    "Raw_vistors_Monthly_level":"Raw_Visitors_Monthly_level",
    "visits_weekly_level":"Visits_Weekly_level"
},inplace=True)
#total_1["Raw_Visitors_Monthly_level"]=total_1["Raw_Visitors_Monthly_level"].fillna("Not Available")
total_1.head(2)

,gmap_id,Month_FF,Raw_Visitors_Monthly_level,Week Start_FF,Visits_Weekly_level
0,0x80c2c9f1d18f5c79:0x9b246513d5996d6b,2018-01-01,0.0,2018-01-01,0
1,0x80c2c9f1d18f5c79:0x9b246513d5996d6b,2018-01-01,0.0,2018-01-08,0

### Expand Meta_and_Reviews

In [41]:
total_2=dataframe_total[["gmap_id",'Date','Average Rating', 'Count of Reviews']]

In [42]:
total_2=total_2.explode(["Date","Average Rating","Count of Reviews"])
total_2.rename(columns={
    "Date":"Week_Start_MR",
    "Average Rating":"Average Rating_MR",
    "Count of Reviews":"Count of Reviews_MR"
},inplace=True)
total_2.head(2)

,gmap_id,Week_Start_MR,Average Rating_MR,Count of Reviews_MR
0,0x80c2c9f1d18f5c79:0x9b246513d5996d6b,2020-11-02,4.0,1.0
0,0x80c2c9f1d18f5c79:0x9b246513d5996d6b,2020-12-21,1.0,1.0

### Total_Output

In [43]:
#Footfall Raw Data
total_1["Week Start_FF"]=total_1["Week Start_FF"].apply(lambda x:x.strip())
#Meta and Reviews
total_2["Week_Start_MR"]=total_2["Week_Start_MR"].apply(lambda x:x.strip())

In [45]:
total_1_2=pd.merge(total_1,total_2,left_on=["gmap_id","Week Start_FF"],right_on=["gmap_id","Week_Start_MR"],how="outer")

In [50]:
total_1_2.to_csv("FF_MR_Decompressed.csv",index=False)