In [1]:
import pandas as pd
import re

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
total_2=pd.read_csv("Total_2.csv")
total_2.head()

,gmap_id,Week_Start_MR,Average Rating_MR,Count of Reviews_MR
0,0x8636d33deda334eb:0x8539697e533cad66,2015-11-09,5.0,2.0
1,0x8636d33deda334eb:0x8539697e533cad66,2016-04-25,1.0,2.0
2,0x8636d33deda334eb:0x8539697e533cad66,2016-05-16,5.0,2.0
3,0x8636d33deda334eb:0x8539697e533cad66,2018-02-12,2.0,2.0
4,0x8636d33deda334eb:0x8539697e533cad66,2018-04-16,5.0,2.0

In [ ]:
total_3=pd.read_csv("Total_3.csv")
total_3.head()

In [ ]:
total_4=pd.read_csv("Total_4.csv")
total_4.head()

In [ ]:
total_2_3=pd.merge(total_2,total_3,left_on=["gmap_id","Week_Start_MR"],right_on=["gmap_id","Week Start_RG"],how="outer")

In [ ]:
total=pd.merge(total_2_3,total_4,on=["gmap_id"])

In [ ]:
total[["gmap_id","placekey",'location_name', 'street_address', 'city', 'region','postal_code', 'latitude', 'longitude',
        'Lead','Community', 'category','url',
       'Week_Start_MR', 'Average Rating_MR','Count of Reviews_MR',
       'Month_RG', 'spend_by_transaction_intermediary','online_spend', 'online_transactions',
       'Week Start_RG','Sum_spent_by_week', 'Average_spent_per_transaction_by_week'
      ]]to_csv("MR_RG_Decompressed.csv",index=False)