In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
dataframe_total=pd.read_csv("FF_MR_RG.csv")

In [6]:
len(dataframe_total["gmap_id"].unique())

3469

In [8]:
len(dataframe_total["placekey"].unique())

3469

In [7]:
dataframe_total.shape[0]

3469

## Dataframe FF

In [6]:
dataframe_FF_Reference=pd.read_csv("3.FF_Referemce.csv")
dataframe_FF_Reference=dataframe_FF_Reference[["Month_FF","Raw_vistors_Monthly_level","Week Start_FF","visits_weekly_level","naics_code","top_category"]]
dataframe_FF_Reference.head()

,Month_FF,Raw_vistors_Monthly_level,Week Start_FF,visits_weekly_level,naics_code,top_category
0,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[1253.0, 1143.0, 1461.0, 1239.0, 667.0, 1115.0...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[213.15, 213.15, 213.15, 213.15, 91.35, 125.16...","Pizza,Counter Service,Lunch,Dinner",&pizza
1,"[' 2018-02-01', ' 2018-03-01', ' 2018-04-01', ...","[274.0, 284.0, 238.0, 206.0, 245.0, 212.0, 208...","[' 2018-01-08', ' 2018-01-15', ' 2018-01-22', ...","[93.0, 86.0, 90.0, 87.0, 79.0, 96.0, 82.0, 88....",722511,Restaurants and Other Eating Places
2,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[632.0, 616.0, 985.0, 1036.0, 794.0, 1081.0, 9...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[98.0, 98.0, 98.0, 98.0, 42.0, 65.72, 115.01, ...","Pizza,Counter Service,Lunch,Dinner",&pizza
3,"[' 2018-02-01', ' 2018-03-01', ' 2018-04-01', ...","[236.0, 317.0, 383.0, 414.0, 445.0, 404.0, 397...","[' 2018-01-08', ' 2018-01-15', ' 2018-01-22', ...","[51.0, 82.0, 78.0, 73.0, 72.0, 61.0, 89.0, 83....",722511,Restaurants and Other Eating Places
4,"['2018-01-01', '2018-02-01', '2018-03-01', '20...","[526.0, 676.0, 881.0, 719.0, 433.0, 685.0, 758...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[86.94, 86.94, 86.94, 86.94, 37.26, 72.0, 126....","Pizza,Counter Service,Lunch,Dinner",&pizza

In [7]:
dataframe_FF_Reference.loc[:,'Month_FF']=dataframe_FF_Reference['Month_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_FF_Reference.loc[:,'Month_FF']=dataframe_FF_Reference['Month_FF'].apply(lambda x:[temp.strip() for temp in x])
dataframe_FF_Reference.loc[:,'Month_FF']=dataframe_FF_Reference.loc[:,'Month_FF'].astype(str)
#Raw Visitors Monthly Level
dataframe_FF_Reference.loc[:,'Raw_vistors_Monthly_level']=dataframe_FF_Reference['Raw_vistors_Monthly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_FF_Reference.loc[:,'Raw_vistors_Monthly_level']=dataframe_FF_Reference['Raw_vistors_Monthly_level'].apply(lambda x:[float(temp) for temp in x])
dataframe_FF_Reference.loc[:,'Raw_vistors_Monthly_level']=dataframe_FF_Reference['Raw_vistors_Monthly_level'].astype(str)
#Week Start
dataframe_FF_Reference.loc[:,'Week Start_FF']=dataframe_FF_Reference['Week Start_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_FF_Reference.loc[:,'Week Start_FF']=dataframe_FF_Reference['Week Start_FF'].apply(lambda x:[temp.strip() for temp in x])
dataframe_FF_Reference.loc[:,'Week Start_FF']=dataframe_FF_Reference.astype(str)
#Visits Weekly Level
dataframe_FF_Reference.loc[:,'visits_weekly_level']=dataframe_FF_Reference['visits_weekly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_FF_Reference.loc[:,'visits_weekly_level']=dataframe_FF_Reference['visits_weekly_level'].apply(lambda x:[float(temp) for temp in x])
dataframe_FF_Reference.loc[:,'visits_weekly_level']=dataframe_FF_Reference['visits_weekly_level'].astype(str)

## Dataframe RV_RF

In [8]:
dataframe_RV_RF=pd.read_csv("1.Revenue_Reference_File.csv")
dataframe_RV_RF.head()

,placekey,location_name,street_address,city,region,postal_code,latitude,longitude
0,222-222@39p-8k2-mtv,United States Postal Service (USPS),100 6th Ave,Kaltag,AK,99748,64.324568,-158.723724
1,222-222@39s-pzs-wrk,United States Postal Service (USPS),123 Takotna Ave,Mc Grath,AK,99627,62.951525,-155.591123
2,222-222@39x-s8g-yy9,United States Postal Service (USPS),50 Maraq Rd,Napakiak,AK,99634,60.696470,-161.981376
3,222-222@39x-sn7-y35,United States Postal Service (USPS),250 Off Doops St,Akiak,AK,99552,60.910895,-161.223008
4,222-222@39y-p4c-ndv,United States Postal Service (USPS),101 Alstrom St,Saint Marys,AK,99658,62.048097,-163.192118

## Missing Address

In [9]:
dataframe_total_part_a=pd.merge(dataframe_total,dataframe_RV_RF,on=["placekey"])
dataframe_total=dataframe_total[~dataframe_total['gmap_id'].isin(list(dataframe_total_part_a["gmap_id"].unique()))]

In [10]:
dataframe_total_part_a.drop(columns=["location_name_x","street_address_x","city_x","region_x","postal_code_x","latitude_x","longitude_x"],inplace=True)
dataframe_total_part_a.rename(columns={
    "location_name_y":"location_name",
    "street_address_y":"street_address",
    "city_y":"city",
    "region_y":"region",
    "postal_code_y":"postal_code",
    "latitude_y":"latitude",
    "longitude_y":"longitude"
},inplace=True)

In [11]:
dataframe_total=pd.concat([dataframe_total_part_a,dataframe_total])

In [12]:
dataframe_total.shape[0]

3469

## Single placekey and Category

In [13]:
#Placekey
dataframe_total.loc[:,'placekey']=dataframe_total['placekey'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["placekey"]=dataframe_total["placekey"].apply(lambda x:x[0])
#Category
dataframe_total.loc[:,'category']=dataframe_total['category'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total["category"]=dataframe_total["category"].apply(lambda x:x[0])
#
dataframe_total.head(1)

,gmap_id,placekey,naics_code,Lead,category,top_category,url,Community,Month,spend_by_transaction_intermediary,...,Raw_vistors_Monthly_level,Week Start_FF,visits_weekly_level,location_name,street_address,city,region,postal_code,latitude,longitude
0,0x880e2d214ef65adf:0x5d67c91656d9784f,222-222@5pw-624-brk,722511,No Lead,Asian restaurant,Restaurants and Other Eating Places,https://www.google.com/maps/place//data=!4m2!3...,No Community,['2019-05-01'],{'No intermediary'},...,"[176.0, 181.0, 252.0, 325.0, 337.0, 335.0, 354...","['2018-01-01', '2018-01-08', '2018-01-15', '20...","[60.0, 74.0, 58.0, 70.0, 33.0, 40.0, 71.0, 63....",Ajida,201 N Wells St,Chicago,IL,60606.0,41.885978,-87.633751

## Naics Code and Top Category

In [14]:
dataframe_total_part_a=dataframe_total[~dataframe_total["naics_code"].isna()]

In [15]:
dataframe_total_part_a.shape[0]

2648

In [16]:
dataframe_total_part_b=dataframe_total[dataframe_total["naics_code"].isna()]

In [17]:
dataframe_total_part_b.shape[0]

821

In [18]:
dataframe_total_part_b.loc[:,'Month_FF']=dataframe_total_part_b['Month_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_part_b.loc[:,'Month_FF']=dataframe_total_part_b['Month_FF'].apply(lambda x:[temp.strip() for temp in x])
dataframe_total_part_b.loc[:,'Month_FF']=dataframe_total_part_b.loc[:,'Month_FF'].astype(str)
#Raw Visitors Monthly Level
dataframe_total_part_b.loc[:,'Raw_vistors_Monthly_level']=dataframe_total_part_b['Raw_vistors_Monthly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_part_b.loc[:,'Raw_vistors_Monthly_level']=dataframe_total_part_b['Raw_vistors_Monthly_level'].apply(lambda x:[float(temp) for temp in x])
dataframe_total_part_b.loc[:,'Raw_vistors_Monthly_level']=dataframe_total_part_b['Raw_vistors_Monthly_level'].astype(str)
#Week Start
dataframe_total_part_b.loc[:,'Week Start_FF']=dataframe_total_part_b['Week Start_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_part_b.loc[:,'Week Start_FF']=dataframe_total_part_b['Week Start_FF'].apply(lambda x:[temp.strip() for temp in x])
dataframe_total_part_b.loc[:,'Week Start_FF']=dataframe_total_part_b.astype(str)
#Visits Weekly Level
dataframe_total_part_b.loc[:,'visits_weekly_level']=dataframe_total_part_b['visits_weekly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_part_b.loc[:,'visits_weekly_level']=dataframe_total_part_b['visits_weekly_level'].apply(lambda x:[float(temp) for temp in x])
dataframe_total_part_b.loc[:,'visits_weekly_level']=dataframe_total_part_b['visits_weekly_level'].astype(str)

In [19]:
dataframe_total_part_b=pd.merge(dataframe_total_part_b,dataframe_FF_Reference,on=["Month_FF","Raw_vistors_Monthly_level","visits_weekly_level"])
dataframe_total_part_b.drop(columns=["naics_code_x","top_category_x","Week Start_FF_y"],inplace=True)
dataframe_total_part_b.rename(columns={
    "Week Start_FF_x":"Week Start_FF",
    "naics_code_y":"naics_code",
    "top_category_y":"top_category"
},inplace=True)

In [20]:
dataframe_total=pd.concat([dataframe_total_part_a,dataframe_total_part_b])

## Overall Final Output

In [21]:
dataframe_total=dataframe_total[[
    "gmap_id","placekey","location_name","street_address","city","region","postal_code","latitude","longitude",
    "naics_code","Lead",'Community',"category","top_category",'url',
    'Month', 'spend_by_transaction_intermediary','online_spend', 'online_transactions', 
    'Week Start','Sum_spent_by_week', 'Average_spent_per_transaction_by_week', 
    'Date','Average Rating', 'Count of Reviews',
    'Month_FF','Raw_vistors_Monthly_level', 'Week Start_FF', 'visits_weekly_level']]

In [22]:
#Set Postal Code to be int type
dataframe_total["postal_code"]=dataframe_total["postal_code"].apply(lambda x:int(x))
dataframe_total["postal_code"]=dataframe_total["postal_code"].astype(str)
#Naics_Code
for counter in range(0,len(dataframe_total["naics_code"])):
    naics_code=dataframe_total["naics_code"].iloc[counter]
    try:
        dataframe_total["naics_code"].iloc[counter]=int(naics_code)
    except:
        dataframe_total["naics_code"].iloc[counter]=np.nan
#Lead
dataframe_total["Lead"]=dataframe_total["Lead"].apply(lambda x:x.strip())

### a.Expand FF Raw Data

In [23]:
dataframe_total_FF=dataframe_total[["gmap_id",'Month_FF','Raw_vistors_Monthly_level', 'Week Start_FF', 'visits_weekly_level']]

In [1]:
#Week_Start_FF
dataframe_total_FF.loc[:,'Week Start_FF']=dataframe_total_FF['Week Start_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_FF["Week Start_FF"]=dataframe_total_FF["Week Start_FF"].apply(lambda x:[temp.strip() for temp in x])
#Visits Weekly Level
dataframe_total_FF.loc[:,'visits_weekly_level']=dataframe_total_FF['visits_weekly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_FF.loc[:,'visits_weekly_level']=dataframe_total_FF['visits_weekly_level'].apply(lambda x:[float(temp) for temp in x])

NameError: name 'dataframe_total_FF' is not defined

In [25]:
#Month_FF
dataframe_total_FF.loc[:,'Month_FF']=dataframe_total_FF['Month_FF'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_FF["Month_FF"]=dataframe_total_FF["Month_FF"].apply(lambda x:[temp.strip() for temp in x])
#Raw Visitors Monthly Level
dataframe_total_FF.loc[:,'Raw_vistors_Monthly_level']=dataframe_total_FF['Raw_vistors_Monthly_level'].apply(lambda x:x.strip('][').replace("'","").split(','))
dataframe_total_FF.loc[:,'Raw_vistors_Monthly_level']=dataframe_total_FF['Raw_vistors_Monthly_level'].apply(lambda x:[float(temp) for temp in x])

### a.1 Weekly Level

In [26]:
dataframe_total_FF_1=dataframe_total_FF[["gmap_id","Week Start_FF","visits_weekly_level"]]
dataframe_total_FF_1=dataframe_total_FF_1.explode(["Week Start_FF","visits_weekly_level"])
#Trim Week Start Date to get Month Date
dataframe_total_FF_1["Month_match"]=dataframe_total_FF_1["Week Start_FF"].apply(lambda x:x[0:7]+"-01")
#Set weekly visits to be integer 
dataframe_total_FF_1["visits_weekly_level"]=dataframe_total_FF_1["visits_weekly_level"].apply(lambda x:int(x))
dataframe_total_FF_1.head(2)

,gmap_id,Week Start_FF,visits_weekly_level,Month_match
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2018-01-01,60,2018-01-01
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2018-01-08,74,2018-01-01

In [27]:
dataframe_total_FF_1.shape[0]

579747

### a.2 Monthly Level

In [28]:
dataframe_total_FF_2=dataframe_total_FF[["gmap_id","Month_FF","Raw_vistors_Monthly_level"]]
dataframe_total_FF_2=dataframe_total_FF_2.explode(["Month_FF","Raw_vistors_Monthly_level"])
dataframe_total_FF_2.head(2)

                                 gmap_id    Month_FF Raw_vistors_Monthly_level
0  0x880e2d214ef65adf:0x5d67c91656d9784f  2018-01-01                     176.0
0  0x880e2d214ef65adf:0x5d67c91656d9784f  2018-02-01                     181.0

### Merge FF_Raw_Data_Parts

In [29]:
total_1=pd.merge(dataframe_total_FF_1,dataframe_total_FF_2,left_on=["gmap_id","Month_match"],right_on=["gmap_id","Month_FF"],how="outer")
total_1=total_1[["gmap_id","Month_match","Raw_vistors_Monthly_level","Week Start_FF","visits_weekly_level"]]
total_1.rename(columns={
    "Month_match":"Month_FF",
    "Raw_vistors_Monthly_level":"Raw_Visitors_Monthly_level",
    "visits_weekly_level":"Visits_Weekly_level"
},inplace=True)
#total_1["Raw_Visitors_Monthly_level"]=total_1["Raw_Visitors_Monthly_level"].fillna("Not Available")
total_1.head(2)

,gmap_id,Month_FF,Raw_Visitors_Monthly_level,Week Start_FF,Visits_Weekly_level
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2018-01-01,176.0,2018-01-01,60
1,0x880e2d214ef65adf:0x5d67c91656d9784f,2018-01-01,176.0,2018-01-08,74

### Expand Meta_and_Reviews

In [30]:
total_2=dataframe_total[["gmap_id",'Date','Average Rating', 'Count of Reviews']]
#Date
total_2.loc[:,'Date']=total_2['Date'].apply(lambda x:x.strip('][').replace("'","").split(','))
total_2["Date"]=total_2["Date"].apply(lambda x:[temp.strip() for temp in x])
#Average Rating
total_2.loc[:,'Average Rating']=total_2['Average Rating'].apply(lambda x:x.strip('][').replace("'","").split(','))
total_2.loc[:,'Average Rating']=total_2['Average Rating'].apply(lambda x:[float(temp) for temp in x])
total_2.loc[:,'Average Rating']=total_2['Average Rating'].apply(lambda x:[round(temp,2) for temp in x])
#Count of Reviews
total_2.loc[:,'Count of Reviews']=total_2['Count of Reviews'].apply(lambda x:x.strip('][').replace("'","").split(','))
total_2.loc[:,'Count of Reviews']=total_2['Count of Reviews'].apply(lambda x:[float(temp) for temp in x])
total_2.loc[:,'Count of Reviews']=total_2['Count of Reviews'].apply(lambda x:[int(temp) for temp in x])

In [31]:
total_2=total_2.explode(["Date","Average Rating","Count of Reviews"])
total_2.rename(columns={
    "Date":"Week_Start_MR",
    "Average Rating":"Average Rating_MR",
    "Count of Reviews":"Count of Reviews_MR"
},inplace=True)
total_2.head(2)

,gmap_id,Week_Start_MR,Average Rating_MR,Count of Reviews_MR
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2020-01-20,5.0,1
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2020-02-03,5.0,1

### Expand Revenues_and_Geometry

In [32]:
total_3=dataframe_total[["gmap_id",'Month', 'spend_by_transaction_intermediary','online_spend', 'online_transactions', 
    'Week Start','Sum_spent_by_week', 'Average_spent_per_transaction_by_week']]

In [33]:
#Week_Start
total_3.loc[:,'Week Start']=total_3['Week Start'].apply(lambda x:x.strip('][').replace("'","").split(','))
total_3["Week Start"]=total_3["Week Start"].apply(lambda x:[temp.strip() for temp in x])
#Visits Weekly Level
total_3.loc[:,'Sum_spent_by_week']=total_3['Sum_spent_by_week'].apply(lambda x:x.strip('][').replace("'","").split(','))
total_3.loc[:,'Sum_spent_by_week']=total_3['Sum_spent_by_week'].apply(lambda x:[float(temp) for temp in x])
total_3.loc[:,'Sum_spent_by_week']=total_3['Sum_spent_by_week'].apply(lambda x:[round(temp,2) for temp in x])
#Average Spent By week
total_3.loc[:,'Average_spent_per_transaction_by_week']=total_3['Average_spent_per_transaction_by_week'].apply(lambda x:x.strip('][').replace("'","").split(','))
total_3.loc[:,'Average_spent_per_transaction_by_week']=total_3['Average_spent_per_transaction_by_week'].apply(lambda x:[float(temp) for temp in x])
total_3.loc[:,'Average_spent_per_transaction_by_week']=total_3['Average_spent_per_transaction_by_week'].apply(lambda x:[round(temp,2) for temp in x])

In [34]:
#Month
total_3.loc[:,'Month']=total_3['Month'].apply(lambda x:x.strip('][').replace("'","").split(','))
total_3["Month"]=total_3["Month"].apply(lambda x:[temp.strip() for temp in x])

### 1.a Weekly Level

In [35]:
total_3_a=total_3[["gmap_id","Week Start","Sum_spent_by_week","Average_spent_per_transaction_by_week"]]
total_3_a=total_3_a.explode(["Week Start","Sum_spent_by_week","Average_spent_per_transaction_by_week"])
total_3_a.head()

,gmap_id,Week Start,Sum_spent_by_week,Average_spent_per_transaction_by_week
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-04-29,0.0,0.0
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-06,0.0,0.0
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-13,0.0,0.0
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-20,0.0,0.0
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-27,69.98,7.0

### 2.b Monthly Level

In [36]:
total_3_b=total_3[["gmap_id",'Month','online_spend', 'online_transactions']]
total_3_b.head()

,gmap_id,Month,online_spend,online_transactions
0,0x880e2d214ef65adf:0x5d67c91656d9784f,[2019-05-01],0,0
1,0x80c2bbeac2719853:0x994eb5726b3d4795,[2019-03-01],0,0
2,0x880e2c05c5461f29:0xe71ba8fac68d2a1d,[2020-07-01],0,0
3,0x880e2cbcb4af42d3:0xb8998d0876263dc,[2021-09-01],0,0
4,0x880fd3ad8bc1067f:0x6d651f6f486421fb,[2021-03-01],[22.13],[1.0]

In [37]:
total_3_b_a=total_3_b[total_3_b["online_spend"]=="0"].explode(["Month"])
total_3_b_a.head()

,gmap_id,Month,online_spend,online_transactions
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-01,0,0
1,0x80c2bbeac2719853:0x994eb5726b3d4795,2019-03-01,0,0
2,0x880e2c05c5461f29:0xe71ba8fac68d2a1d,2020-07-01,0,0
3,0x880e2cbcb4af42d3:0xb8998d0876263dc,2021-09-01,0,0
5,0x8640bc3056bdb10f:0x9aa66770193595c6,2019-08-01,0,0

In [38]:
total_3_b_b=total_3_b[total_3_b["online_spend"]!="0"]
#Online Spend
total_3_b_b.loc[:,'online_spend']=total_3_b_b['online_spend'].apply(lambda x:x.strip('][').replace("'","").split(','))
total_3_b_b.loc[:,'online_spend']=total_3_b_b['online_spend'].apply(lambda x:[float(temp) for temp in x])
total_3_b_b.loc[:,'online_spend']=total_3_b_b['online_spend'].apply(lambda x:[round(temp,2) for temp in x])
#Online Transactions
total_3_b_b.loc[:,'online_transactions']=total_3_b_b['online_transactions'].apply(lambda x:x.strip('][').replace("'","").split(','))
total_3_b_b.loc[:,'online_transactions']=total_3_b_b['online_transactions'].apply(lambda x:[float(temp) for temp in x])
total_3_b_b.loc[:,'online_transactions']=total_3_b_b['online_transactions'].apply(lambda x:[round(temp,2) for temp in x])
total_3_b_b=total_3_b_b.explode(["Month","online_spend","online_transactions"])
total_3_b_b.head()

,gmap_id,Month,online_spend,online_transactions
4,0x880fd3ad8bc1067f:0x6d651f6f486421fb,2021-03-01,22.13,1.0
8,0x8640c78209cd92d1:0x9e3d87f7f49d1b32,2019-02-01,3.0,2.0
26,0x80c2c7953fb89799:0xe614f8f5b05ff4c3,2022-08-01,262.87,1.0
28,0x880fd3de7014448d:0x54f348be3162555a,2022-05-01,26.0,2.0
29,0x880fd3f6e9627027:0xbafc87e459b78504,2022-08-01,310.0,4.0

In [39]:
total_3_b=pd.concat([total_3_b_a,total_3_b_b])
total_3_b.head()

,gmap_id,Month,online_spend,online_transactions
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-01,0,0
1,0x80c2bbeac2719853:0x994eb5726b3d4795,2019-03-01,0,0
2,0x880e2c05c5461f29:0xe71ba8fac68d2a1d,2020-07-01,0,0
3,0x880e2cbcb4af42d3:0xb8998d0876263dc,2021-09-01,0,0
5,0x8640bc3056bdb10f:0x9aa66770193595c6,2019-08-01,0,0

### 2.c Spend Transaction Intermediary

In [40]:
total_3_c=total_3[["gmap_id",'Month', 'spend_by_transaction_intermediary']]
total_3_c.head()

,gmap_id,Month,spend_by_transaction_intermediary
0,0x880e2d214ef65adf:0x5d67c91656d9784f,[2019-05-01],{'No intermediary'}
1,0x80c2bbeac2719853:0x994eb5726b3d4795,[2019-03-01],{'No intermediary'}
2,0x880e2c05c5461f29:0xe71ba8fac68d2a1d,[2020-07-01],{'No intermediary'}
3,0x880e2cbcb4af42d3:0xb8998d0876263dc,[2021-09-01],{'No intermediary'}
4,0x880fd3ad8bc1067f:0x6d651f6f486421fb,[2021-03-01],"[{'No intermediary': 22.13, 'Square': 8.93}]"

In [41]:
total_3_c_a=total_3_c.loc[~total_3_c["spend_by_transaction_intermediary"].str.contains("]")].explode("Month")
total_3_c_a

,gmap_id,Month,spend_by_transaction_intermediary
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-01,{'No intermediary'}
1,0x80c2bbeac2719853:0x994eb5726b3d4795,2019-03-01,{'No intermediary'}
2,0x880e2c05c5461f29:0xe71ba8fac68d2a1d,2020-07-01,{'No intermediary'}
3,0x880e2cbcb4af42d3:0xb8998d0876263dc,2021-09-01,{'No intermediary'}
5,0x8640bc3056bdb10f:0x9aa66770193595c6,2019-08-01,{'No intermediary'}
...,...,...,...
819,0x80c2c0db03abaf8d:0xd6c338e8fe0a8fdf,2022-04-01,{'No intermediary'}
819,0x80c2c0db03abaf8d:0xd6c338e8fe0a8fdf,2022-05-01,{'No intermediary'}
819,0x80c2c0db03abaf8d:0xd6c338e8fe0a8fdf,2022-06-01,{'No intermediary'}
819,0x80c2c0db03abaf8d:0xd6c338e8fe0a8fdf,2022-07-01,{'No intermediary'}
819,0x80c2c0db03abaf8d:0xd6c338e8fe0a8fdf,2022-08-01,{'No intermediary'}

In [42]:
total_3_c_b=total_3_c.loc[total_3_c["spend_by_transaction_intermediary"].str.contains("]")]
total_3_c_b["spend_by_transaction_intermediary"]=total_3_c_b["spend_by_transaction_intermediary"].apply(lambda x:eval(x))
total_3_c_b=total_3_c_b.explode(["Month","spend_by_transaction_intermediary"])

In [43]:
total_3_c=pd.concat([total_3_c_a,total_3_c_b])
total_3_c.head()

,gmap_id,Month,spend_by_transaction_intermediary
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-01,{'No intermediary'}
1,0x80c2bbeac2719853:0x994eb5726b3d4795,2019-03-01,{'No intermediary'}
2,0x880e2c05c5461f29:0xe71ba8fac68d2a1d,2020-07-01,{'No intermediary'}
3,0x880e2cbcb4af42d3:0xb8998d0876263dc,2021-09-01,{'No intermediary'}
5,0x8640bc3056bdb10f:0x9aa66770193595c6,2019-08-01,{'No intermediary'}

In [44]:
#First Merge
total_3_2=pd.merge(total_3_b,total_3_c,on=["gmap_id","Month"])
total_3_2

,gmap_id,Month,online_spend,online_transactions,spend_by_transaction_intermediary
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-01,0,0,{'No intermediary'}
1,0x80c2bbeac2719853:0x994eb5726b3d4795,2019-03-01,0,0,{'No intermediary'}
2,0x880e2c05c5461f29:0xe71ba8fac68d2a1d,2020-07-01,0,0,{'No intermediary'}
3,0x880e2cbcb4af42d3:0xb8998d0876263dc,2021-09-01,0,0,{'No intermediary'}
4,0x8640bc3056bdb10f:0x9aa66770193595c6,2019-08-01,0,0,{'No intermediary'}
...,...,...,...,...,...
111819,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-04-01,0.0,0.0,No intermediary
111820,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-05-01,0.0,0.0,No intermediary
111821,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-06-01,14.89,1.0,No intermediary
111822,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-07-01,161.65,5.0,No intermediary
111823,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-08-01,103.15,5.0,No intermediary

In [45]:
total_3_a["Month_Match"]=total_3_a["Week Start"].apply(lambda x:x[0:7]+"-01")
total_3_a

,gmap_id,Week Start,Sum_spent_by_week,Average_spent_per_transaction_by_week,Month_Match
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-04-29,0.0,0.0,2019-04-01
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-06,0.0,0.0,2019-05-01
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-13,0.0,0.0,2019-05-01
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-20,0.0,0.0,2019-05-01
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2019-05-27,69.98,7.0,2019-05-01
...,...,...,...,...,...
820,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-08-01,143.75,12.31,2022-08-01
820,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-08-08,106.79,5.53,2022-08-01
820,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-08-15,153.2,12.11,2022-08-01
820,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-08-22,223.52,18.64,2022-08-01
820,0x80c2ba87ebdcf09b:0xd3e0c73a3a8b4b2,2022-08-29,71.88,11.98,2022-08-01

In [46]:
total_3=pd.merge(total_3_a,total_3_2,left_on=["gmap_id","Month_Match"],right_on=["gmap_id","Month"],how="outer")

In [47]:
total_3=total_3[["gmap_id","Month_Match","spend_by_transaction_intermediary","online_spend","online_transactions","Week Start","Sum_spent_by_week","Average_spent_per_transaction_by_week"]]
#total_3=total_3.fillna("Not Available")

In [48]:
total_3.rename(columns={
    "Month_Match":"Month_RG",
    "Week Start":"Week Start_RG"
},inplace=True)

### Total_Output

In [49]:
#Footfall Raw Data
total_1["Week Start_FF"]=total_1["Week Start_FF"].apply(lambda x:x.strip())
#Meta and Reviews
total_2["Week_Start_MR"]=total_2["Week_Start_MR"].apply(lambda x:x.strip())
#Revenues and Geometry
total_3["Month_RG"]=total_3["Month_RG"].apply(lambda x:x.strip())
total_3["Week Start_RG"]=total_3["Week Start_RG"].apply(lambda x:x.strip())

In [50]:
total_1.columns

Index(['gmap_id', 'Month_FF', 'Raw_Visitors_Monthly_level', 'Week Start_FF',
       'Visits_Weekly_level'],
      dtype='object')

In [51]:
total_1_2=pd.merge(total_1,total_2,left_on=["gmap_id","Week Start_FF"],right_on=["gmap_id","Week_Start_MR"],how="outer")

In [52]:
total_1_2.head()

,gmap_id,Month_FF,Raw_Visitors_Monthly_level,Week Start_FF,Visits_Weekly_level,Week_Start_MR,Average Rating_MR,Count of Reviews_MR
0,0x880e2d214ef65adf:0x5d67c91656d9784f,2018-01-01,176.0,2018-01-01,60.0,NaN,NaN,NaN
1,0x880e2d214ef65adf:0x5d67c91656d9784f,2018-01-01,176.0,2018-01-08,74.0,NaN,NaN,NaN
2,0x880e2d214ef65adf:0x5d67c91656d9784f,2018-01-01,176.0,2018-01-15,58.0,NaN,NaN,NaN
3,0x880e2d214ef65adf:0x5d67c91656d9784f,2018-01-01,176.0,2018-01-22,70.0,NaN,NaN,NaN
4,0x880e2d214ef65adf:0x5d67c91656d9784f,2018-01-01,176.0,2018-01-29,33.0,NaN,NaN,NaN

In [53]:
total_1_2_3=pd.merge(total_1_2,total_3,left_on=["gmap_id","Month_FF","Week Start_FF","Week_Start_MR"],right_on=["gmap_id","Month_RG","Week Start_RG","Week Start_RG"],how="outer")

In [54]:
total_1_2_3.loc[~total_1_2_3["spend_by_transaction_intermediary"].isna(),"spend_by_transaction_intermediary"]=total_1_2_3.loc[~total_1_2_3["spend_by_transaction_intermediary"].isna(),"spend_by_transaction_intermediary"].astype(str)

In [55]:
total_4=dataframe_total[["gmap_id","placekey","location_name","street_address","city","region","postal_code","latitude","longitude",
    "naics_code","Lead",'Community',"category","top_category",'url']]

In [60]:
total=pd.merge(total_1_2_3,total_4,on=["gmap_id"])

In [63]:
total=total[["gmap_id","placekey",'location_name', 'street_address', 'city', 'region','postal_code', 'latitude', 'longitude',
       'naics_code', 'Lead','Community', 'category', 'top_category', 'url',
       'Month_FF', 'Raw_Visitors_Monthly_level', 'Week Start_FF','Visits_Weekly_level',
       'Week_Start_MR', 'Average Rating_MR','Count of Reviews_MR',
       'Month_RG', 'spend_by_transaction_intermediary','online_spend', 'online_transactions',
       'Week Start_RG','Sum_spent_by_week', 'Average_spent_per_transaction_by_week'
      ]]

In [69]:
total.to_csv("FF_MR_RG_Decompressed.csv",index=False)